.resources-country {
  margin-bottom: 2rem;
}

.resources-country:last-child {
  margin-bottom: 0;
}

.resources-topics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.resource {
  margin-bottom: 2rem;
}

.featured {
  background: var(--color-gray--light);
  color: black;
}

.resource:last-child {
  margin-bottom: 0;
}

.featured .resource-title {
  color: var(--color-skyblue);
}

.resource-title {
  margin-bottom: 0.5rem;
}

.resource-format {
  margin-bottom: 0.5rem;
  font-size: var(--font-size--tiny);
}

.resource-abstract {
  margin-bottom: 1rem;
  font-size: var(--font-size--details);
}

/* responsive */

@media (max-width: 900px) {
  .resources-topics {
    display: block;
  }

  .resources-topics > div {
    margin-bottom: 1rem;
  }

  .resources-topics > div:last-child {
    margin-bottom: 0;
  }

  .resource {
    margin-bottom: -1px;
  }

  .resource:last-child {
    margin-bottom: 0;
  }

  /* .project .ods {
    margin-bottom: 2rem;
  }

  .project .ods:last-child {
    margin-bottom: 0;
  } */
}
