.news-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.news-item {
  text-decoration: none;
  color: var(--color-text);
}

.news-item-cover {
  width: 100%;
}

.news-item-title {
  margin-bottom: 0.5rem;
}

.news-item-date {
  margin-bottom: 0.5rem;
  font-size: var(--font-size--tiny);
}

.news-item-excerpt {
  margin-bottom: 1rem;
  font-size: var(--font-size--details);
}
