.news-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.news-item {
  text-decoration: none;
  color: var(--color-text);
}

.news-item-cover {
  width: 100%;
}

.news-item-date {
  margin-bottom: 1rem;
  font-size: var(--font-size--details);
}

.news-item-excerpt {
  margin-bottom: 1rem;
}

.news-item-link {
  display: inline-block;
  color: black;
  background: var(--color-gray);
  padding: 0.2rem 0.4rem;
}
