.news-article-date {
  margin-bottom: 1rem;
  font-size: var(--font-size--details);
}

.news-article-cover {
  width: 100%;
  max-width: 720px;
  margin-bottom: 1rem;
}

.news-article-text a {
  color: var(--color-text);
}

.news-article-text p:last-child {
  margin-bottom: 0;
}
