.footer {
  width: 100%;
  background: var(--color-gray--light);
  color: black;
}

.footer-content {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 4rem 2rem;
}

.copy {
  font-size: var(--font-size--tiny);
}

/* responsive */

@media (max-width: 900px) {
  .footer-content {
    padding: 2rem;
  }
}
