.header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 4rem 2rem 2rem;
}

/* responsive */

@media (max-width: 900px) {
  .menu-is-open.header {
    background: white;
    position: fixed !important;
  }

  .header-content {
    padding: 2rem;
  }
}
