.main {
  width: 100%;
}

.main-content {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2rem 2rem 4rem;
}

/* responsive */

@media (max-width: 900px) {
  .main-content {
    padding: 2rem;
  }
}
