.menu {
  font-family: var(--font-sans-1);
  text-transform: uppercase;
}

.nav-item {
  text-decoration: none;
  font-size: var(--font-size--menu);
  color: black;
  padding: 0.05rem 0.25rem;
  transition: all var(--t-s) var(--easeOutExpo);
  display: inline-block;
  margin: 0 0.5rem;
}

.nav-item.active {
  color: var(--color-skyblue);
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:hover {
  color: var(--color-skyblue);
}

/* responsive */

@media (max-width: 900px) {
  .menu-is-open .nav-pages {
    display: block;
  }

  .nav-pages {
    background: white;
    position: fixed;
    top: 94.33px;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    padding-top: 1rem;
  }

  .nav-item {
    display: block;
    padding: 1rem 0;
    margin: 0;
    text-align: center;
  }
}
