.map .header {
  position: absolute;
  z-index: var(--z--header);
  pointer-events: none;
}

.map .brand,
.map .menu {
  pointer-events: auto;
}

.map .main {
  position: absolute;
  top: 0;
  z-index: var(--z--map);
}

.map .main-content {
  max-width: none;
  margin: 0;
  padding: 0;
}

.map-leaflet {
  width: 100%;
  height: 100vh;
  z-index: var(--z--map-leaflet);
  position: relative;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  background: white !important;
}

.map-data {
  background: white;
  position: absolute;
  width: calc(var(--page-width) / 2.6);
  max-height: calc(100vh - 260px - 4rem);
  top: 260px;
  right: calc(((100% - var(--page-width)) / 2) + 2rem);
  border: 1px solid var(--color-gray);
  padding: 1rem;
  z-index: var(--z--map-data);
}

.map-data-html {
  font-size: var(--font-size--details);
  max-height: calc(100vh - 260px - 4rem - 45px - 3rem);
  overflow: auto;
}

.map-data-html p:last-child {
  margin-bottom: 0;
}

.map-data-html::-webkit-scrollbar {
  display: none;
}

.map-data-close {
  position: absolute;
  background: none;
  color: black;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* responsive */

@media (max-width: 900px) {
  .map-data {
    width: calc(100% - 2rem);
    max-height: calc(100vh - 94.33px - 1rem);
    top: 94.33px;
    right: 1rem;
  }

  .map-data-html {
    font-size: var(--font-size--details);
    max-height: calc(100vh - 94.33px - 1rem - 36px - 3rem);
  }
}
