.footer {
  width: 100%;
  background: var(--color-gray);
}

.footer-content {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 4rem 2rem;
}

.copy {
  font-size: var(--font-size--tiny);
}
