.footer {
  width: 100%;
  background: var(--color-gray);
  /* background: red; */
}

.footer-content {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2rem;
  /* background: blue; */
}

.copy {
  font-size: var(--font-size--tiny);
}
