.header {
  width: 100%;
}

/* .home .header {
  position: absolute;
  z-index: var(--z--header);
} */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 4rem 2rem 2rem;
}
