.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: var(--z--modal);
  top: 0;
  left: 0;
}

.modal-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-close {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  border-radius: 50%;
  border: 0.15rem solid white;
  width: 40px;
  height: 40px;
}

.modal-close i {
  font-size: 1.5rem;
}
