.home .header {
  position: absolute;
  z-index: var(--z--header);
}

.home .nav-item {
  color: white;
}

.home .nav-item.active {
  color: black;
  background: white;
}

.home .nav-item:hover {
  color: black;
  background: white;
}

.home .main {
  padding-top: var(--hero-height);
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--hero-height);
  background: var(--color-skyblue);
  z-index: var(--z--hero);
}

.hero-video {
  width: 100%;
  height: 100%;
  opacity: 0.35;
  object-fit: cover;
}

.hero-info {
  position: absolute;
  text-align: center;
  height: calc(var(--hero-height) - 260px);
  bottom: 0;
  width: 100%;
}

.hero-title {
  font-size: 3vw;
  font-weight: bold;
  color: white;
  margin-top: 4rem;
}

.hero-call {
  padding: 0.8rem;
  color: white;
  background: none;
  cursor: pointer;
  font-weight: bold;
  transition: all var(--t-s) var(--easeOutExpo);
}

.hero-call:hover {
  transform: scale(1.05);
}

.hero-call i {
  border: 2px solid white;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5rem;
  padding: 0.1rem;
}

.hero-call span {
  vertical-align: middle;
}

.welcome {
  max-width: var(--page-width);
  margin: 2rem auto;
}

.home .ods {
  margin-bottom: 2rem;
}

.home .ods:last-child {
  margin-bottom: 0;
}

.home .ods-title {
  margin-bottom: 1rem;
}

.ods-videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.ods-video {
  cursor: pointer;
}

.ods-video:hover .ods-video-cover-play {
  background: var(--color-black--alpha);
  transform: scale(1.05);
}

.ods-video:hover .ods-video-cover-img {
  transform: scale(1.05);
}

.ods-video-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.ods-video-cover-img {
  transition: all var(--t-l) var(--easeOutExpo);
  width: 100%;
}

.ods-video-cover-play {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  border: 0.1rem solid white;
  transition: all var(--t-s) var(--easeOutExpo);
}

.ods-video-cover-play i {
  font-size: 3rem;
}

.ods-video-title {
  margin: 0;
}

/* responsive */

@media (max-width: 900px) {
  .home .nav-item {
    color: black;
  }

  .home .nav-item.active {
    color: var(--color-skyblue);
    background: none;
  }

  .home .nav-item:hover {
    color: var(--color-skyblue);
  }

  .hero-info {
    height: calc(var(--hero-height) - 94.33px);
  }

  .hero-title {
    font-size: 6vw;
    margin-top: 2rem;
  }

  .hero-call i {
    font-size: 18px;
  }

  .welcome {
    margin: 0 auto 2rem;
  }

  .ods-videos {
    display: block;
  }

  .ods-video {
    margin-bottom: 1rem;
  }

  .ods-video:last-child {
    margin-bottom: 0;
  }
}
