.home {
}

.home .header {
  position: absolute;
  z-index: 1;
}

.home .main {
  padding-top: 75vh;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  background: var(--color-skyblue);
}

.hero-video {
  width: 100%;
  height: 100%;
  opacity: 0.35;
  object-fit: cover;
}

.hero-info {
  position: absolute;
  text-align: center;
  height: calc(75vh - 260px);
  bottom: 0;
  width: 100%;
}

.hero-title {
  font-size: 3vw;
  font-weight: bold;
  color: white;
  margin-top: 4rem;
}

.hero-call {
  padding: 1rem;
  color: var(--color-skyblue);
  background: white;
  cursor: pointer;
  font-weight: bold;
  transition: all var(--t-s) var(--easeOutExpo);
}

.hero-call:hover {
  transform: scale(1.05);
}

.hero-call i {
  border: 2px solid var(--color-skyblue);
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5rem;
  padding: 0.25rem;
}

.hero-call span {
  vertical-align: middle;
}

.welcome {
  max-width: var(--page-width);
  margin: 2rem auto;
}

.home .odss {
  list-style: none;
}

.home .ods {
  margin-bottom: 2rem;
}

.home .ods:last-child {
  margin-bottom: 0;
}

.home .ods-title {
  margin-bottom: 1rem;
}

.ods-videos {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.ods-video {
  margin: 0 1rem;
  cursor: pointer;
}

.ods-video:hover .ods-video-cover-play {
  background: var(--color-black--alpha);
  transform: scale(1.1);
}

.ods-video:first-child {
  margin-left: 0;
}

.ods-video:last-child {
  margin-right: 0;
}

.ods-video-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 0.5rem;
}

.ods-video-cover-img {
  width: 100%;
}

.ods-video-cover-play {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  border: 0.1rem solid white;
  transition: all var(--t-s) var(--easeOutExpo);
}

.ods-video-cover-play i {
  font-size: 3rem;
}

.ods-video-title {
  margin: 0;
}
