.home {
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: white;
}

.hero-video {
  width: 100%;
  height: 80vh;
  opacity: 0.5;
  object-fit: cover;
}

.hero-info {
  position: absolute;
  text-align: center;
}

.hero-title {
  font-size: 3vw;
  font-weight: bold;
}

.play {
  color: black;
  background: none;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid black;
  border-radius: 50%;
  margin-bottom: 6rem;
}

.play:hover {
  color: white;
  border-color: white;
  cursor: pointer;
  background: var(--color-black--alpha);
}

.play i {
  font-size: 3.5rem;
}

.welcome {
  max-width: var(--page-width);
  margin: 4rem auto;
}

.welcome .welcome-content {
  width: 75%;
}

.odss {
  max-width: var(--page-width);
  margin: 0 auto;
  list-style: none;
}

.ods-title {
  font-family: var(--font-sans-1);
}

.ods-videos {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.ods-video {
  margin: 0 0.5rem;
  cursor: pointer;
}

.ods-video:hover .play {
  background: var(--color-black--alpha);
}

.ods-video:first-child {
  margin-left: 0;
}

.ods-video:last-child {
  margin-right: 0;
}

.ods-video-portada {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ods-video-portada-img {
  width: 100%;
}

.ods-video-portada-play {
  color: white;
  border: 0.1rem solid white;
  position: absolute;
}

.ods-video-title {
  margin-top: 0.8rem;
}
